{% extends 'base.html' %}
{% block content %}
<h3 class="mb-4">⚠️ Defaulters (Below 75%)</h3>

<table class="table table-bordered table-striped table-hover">
  <thead class="table-danger text-white">
    <tr><th>Student</th><th>Subject</th><th>Attendance %</th></tr>
  </thead>
  <tbody>
    {% for d in defaulters %}
    <tr>
      <td>{{ d[0] }}</td>
      <td>{{ d[1] }}</td>
      <td class="text-danger fw-bold">{{ d[2] }}%</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
